.inner_block_name{
    width: 265px;
    height: 21px;
    margin-left: 16px;
    margin-top: 16px;
    .number_block {
        margin: 2px 0 2px 2px;
    }
    .name_block {
        margin-left: 4px 0 3px 0;
    }
}

body {
    margin: 0;
    padding: 0;
    width: 100%;

    .nav{
        height: 56px;
        background: pink;

    }
    .container {
        background: greenyellow;
        margin-top: 0px;
        height: 119px;

    }
  }