$main-text-color: #333333;
$auchan-color: #e0001a;
$block-text-color: #4f4f4f;
$block-text-size: 12px;
$block-label-color: #828282;
$border-bottom-color: #f8f8f8;
@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-stretch: normal;
}

@mixin inner_block_mixin {
    margin-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #fff;
}

@mixin number_circle_mixin {
    margin: 2px 2px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    font-size: 10px;
    color: #fff;
    line-height: 16px;
    text-align: center;
    background: $auchan-color;
}

body {
    background: #f8f8f8;
    font-family: RobotoRegular;
    .nav {
        @include inner_block_mixin;
        margin-bottom: 0px;
        width: 100%;
        height: 56px;
        display: flex;
        align-items: center;
        a {
            display: flex;
            align-content: center;
        }
    }
    .notification {
        position: absolute;
        display: flex;
        align-items: center; 
        justify-content: center;
        height: 48px;
        width: 100%;
        background-color: #b3282d;
        background-color: #00985f;
        font-size: 14px;
        color: #ffffff;
        text-align: center;
    }
    .profile_container {
        .place_picture {
            img {
                padding-top: 10px;
                display: block;
                margin: 0 auto;
            }
            span {
                display: table;
                text-align: center;
                padding-top: 14px;
                padding-bottom: 25px;
                margin: 0 auto;
                color: $main-text-color;
                font-size: 19px;
                line-height: 24px;
            }
        }
        .inner_block {
            padding-top: 16px;
            @include inner_block_mixin;
            .title {
                display: flex;
                .title_number {
                    @include number_circle_mixin;
                }
                .title_name {
                    margin-left: 5px;
                }
            }
            .form_block {
                padding-top: 12px;
                .select-field {
                    .select-title {
                        color: $block-label-color;
                        font-size: $block-text-size;
                        line-height: 14px;
                    }
                    .select-values {
                        border: 0px;
                        outline: 0px;
                    }
                }
                .question_block {
                    height: 77px;
                    border-bottom: 1px solid $border-bottom-color;
                    .question_title {
                        margin-top: 14px;
                        color: $block-text-color;
                        font-size: 15px;
                    }
                    .question_row {
                        margin-top: 13px;
                        display: flex;
                        flex-wrap: wrap;
                        .question {
                            flex: 0 0 50%;
                        }
                    }
                }
                .select_block {
                    padding-bottom: 8px;
                    border-bottom: 1px solid $border-bottom-color;
                    .select_title {
                        margin-top: 14px;
                        color: $block-label-color;
                    }
                    .select_row {
                        select {
                            border: none;
                            padding-left: 0px;
                            margin-left: -4px;
                            &:focus {
                                outline: none;
                            }
                        }
                    }
                }
            }
            &.last_block {
                padding-bottom: 17px;
            }
            #error_phone {
                margin-top: -16px;
                font-size: 12px;
                color: $auchan-color;
                padding-bottom: 4px;
            }
        }
        .button_block {
            margin: 16px 0;
            text-align: center;
            .button {
                background-color: $auchan-color;
                border: none;
                border-radius: 24px;
                color: #fff;
                text-align: center;
                font-size: 16px;
                width: 296px;
                height: 48px;
                img {
                    display: none;
                    margin-top: 5px;
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}

// CHANGE DEFAULT STYLE;
//INPUT FIELD
.input-field {
    input.auchan {
        border-bottom: 1px solid $border-bottom-color;
        &+label {
            font-size: 16px;
            line-height: 21px;
            color: $block-label-color;
        }
    }
    &.active {
        input.auchan:focus {
            font-size: 16px;
            line-height: 21px;
            color: $block-text-color;
            border-bottom: 1px solid $auchan-color;
            box-shadow: 0 1px 0 0 $auchan-color;
            &+label.active {
                color: $auchan-color;
            }
        }
    }
}

//RADIO BUTTON
.question_block {
    [type="radio"].with-gap:checked+label:before,
    [type="radio"].with-gap:checked+label:after {
        border: 2px solid $auchan-color;
    }
    [type="radio"].with-gap:checked+label:after {
        background-color: $auchan-color;
    }
}